In [89]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import random
%matplotlib inline
random.seed(1000)

In [90]:
#input data
df=pd.read_csv("/Users/Pushkar/Desktop/july18/April 2018/galvanize/dsi-pandas/data/hospital-costs.csv")

In [91]:
#Getting familiarize with the data
#Finding the shape and heads of the df
df.shape
df.head(10)

#finging data types in the df
df.dtypes

#total number of columns in the df
len(df.columns)

#Understand null values in the df
df.isna().sum()

Year                                     0
Facility Id                              0
Facility Name                            0
APR DRG Code                             0
APR Severity of Illness Code             0
APR DRG Description                      0
APR Severity of Illness Description    164
APR Medical Surgical Code              164
APR Medical Surgical Description         0
Discharges                               0
Mean Charge                              0
Median Charge                            0
Mean Cost                                0
Median Cost                              0
dtype: int64

#1. Create a new column "Total Charges" using "Discharges" and "Mean Charge".

In [92]:
df['Total Charges']=df['Discharges']*df['Mean Charge']

#2. Do the same for the "Total Costs" using "Mean Cost"

In [93]:
df['Total Cost']=df['Discharges']*df['Mean Cost']

#3.With these two new "Total Charges" and "Total Costs" columns, calculate the charges to costs "markup" rate.

In [94]:
df['markup rate']=df['Total Charges']/df['Total Cost']

#4.Tell me which facility has the highest "markup" rate, and which one has the lowest "markup" rate. (It's always good to do a sanity check, do these results make sense to you?)

In [95]:
#Finding the unique categories in the data
len(df['Facility Name'].unique())

#min/max
max(df['markup rate'])
min(df['markup rate'])

#Sorting the column
df=df.sort_values(by=['markup rate'],ascending=True)

#facility has the highest "markup" rate
df[['Facility Name','Total Charges','Total Cost','markup rate']].head(1)

#facility has the lowest "markup" rate
df[['Facility Name','Total Charges','Total Cost','markup rate']].tail(1)

,Facility Name,Total Charges,Total Cost,markup rate
111925,SUNY Downstate Medical Center at LICH,43088.0,2068.0,20.83559

##What are the top 10 reasons people are going to the hospital for, and how many people did they see.

In [97]:
d_grp=df.groupby(['APR DRG Description'])['Discharges'].sum()
d_grp=d_grp.sort_values()
d_grp.head(10)

APR DRG Description
Pancreas Transplant                                                120
Neonate W Ecmo                                                     123
Principal Diagnosis Invalid As Discharge Diagnosis                 129
Extensive 3Rd Degree Burns W Skin Graft                            132
Neonate, Transferred <5 Days Old, Not Born Here                    224
Ungroupable                                                        359
Neonate Birthwt 1000-1249G W Or W/O Other Significant Condition    477
Neonatal Aftercare                                                 497
Craniotomy For Multiple Significant Trauma                         515
Mental Illness Diagnosis W O.R. Procedure                          532
Name: Discharges, dtype: int64

1.Create a new DataFrame named "net" that is only the Facility Name, Total Charge, Total Cost from our original DataFrame

2.Find the total amount each hospital spent, and how much they charged. (Group your data by Facility names, and sum all the total costs and total charges)

3.Now find the net income for every hospital. Tell me the most profitable and the least profitable ones and how much are they making?

In [124]:
net=df[['Facility Name', 'Total Charges', 'Total Cost']]
spent=df.groupby(['Facility Name'])['Total Charges','Total Cost'].sum()
spent['Total']=spent['Total Charges']+spent['Total Cost']
spent['Net Income']=spent['Total Charges']-spent['Total Cost']

spent.sort_values('Net Income',ascending =True)
spent.head(1)
spent.tail(1)

,Total Charges,Total Cost,Total,Net Income
Facility Name,,,,
Wyoming County Community Hospital,52863279.0,49547081.0,102410360.0,3316198.0

In [126]:
newdf=df[df["APR DRG Description"]=="Viral Meningitis"]

In [128]:
newdf=newdf[["Facility Name", "APR DRG Description","APR Severity of Illness Description",
            "Discharges", "Mean Charge", "Median Charge", "Mean Cost"]]

In [129]:
newdf.columns

Index(['Facility Name', 'APR DRG Description',
       'APR Severity of Illness Description', 'Discharges', 'Mean Charge',
       'Median Charge', 'Mean Cost'],
      dtype='object')

In [131]:
newdf.head(4)

,Facility Name,APR DRG Description,APR Severity of Illness Description,Discharges,Mean Charge,Median Charge,Mean Cost
373822,University Hospital of Brooklyn,Viral Meningitis,Moderate,2,15209.0,15209.0,20082.0
45157,Lincoln Medical & Mental Health Center,Viral Meningitis,Major,1,3929.0,3929.0,3894.0
300150,Lincoln Medical & Mental Health Center,Viral Meningitis,Moderate,7,12765.0,7731.0,12651.0
45156,Lincoln Medical & Mental Health Center,Viral Meningitis,Moderate,5,8830.0,6517.0,8751.0

4.Find which hospital discharges the most cases of Viral Meningitis for all levels of severity.

In [135]:
newdf=newdf.sort_values('Mean Charge')
newdf.head(1)

,Facility Name,APR DRG Description,APR Severity of Illness Description,Discharges,Mean Charge,Median Charge,Mean Cost
258259,Aurelia Osborn Fox Memorial Hospital,Viral Meningitis,Moderate,1,1179.0,1179.0,1040.0

5.Find which hospital is the least expensive for treating Moderate cases of VM that have more than 3 Discharges.

In [149]:
nnewd=newdf[newdf['APR Severity of Illness Description']=='Moderate']
nndf=nnewd[nnewd['Discharges']>3]
nndf=nndf.sort_values(by='Mean Charge',ascending=True)
nndf.head(1)

,Facility Name,APR DRG Description,APR Severity of Illness Description,Discharges,Mean Charge,Median Charge,Mean Cost
14426,Cayuga Medical Center at Ithaca,Viral Meningitis,Moderate,6,5738.0,5111.0,3949.0

6.Find which hospital discharges the most cases of Viral Meningitis for all levels of severity.

In [172]:
group=newdf[['Facility Name',"Discharges"]].groupby('Facility Name').sum()

group=group.sort_values('Discharges')
group.tail(1)

                                 Discharges
Facility Name
North Shore University Hospital         158

7.Find if there is a correlation between the severity of illness and the charge.

In [171]:
group = (newdf[['APR Severity of Illness Description', 'Mean Charge']]
    .groupby('APR Severity of Illness Description').mean()
    .reset_index())

# Let's then rank order the severity level from minor to extreme
group['APR Severity of Illness'] = (group['APR Severity of Illness Description']
    .map({'Minor': 0, 'Moderate': 1, 'Major': 2, 'Extreme': 3}))

group[['APR Severity of Illness', 'Mean Charge']].corr()

                         APR Severity of Illness  Mean Charge
APR Severity of Illness                 1.000000     0.921642
Mean Charge                             0.921642     1.000000